@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;

  --color-accent-100: #e63946;
  --color-accent-200: #ef233c;
  --color-accent-300: #d90429;
}

/* for firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--text-gray-800) rgba(0, 0, 0, 0);
}

/* for non-firefox */
::-webkit-scrollbar {
  overflow: overlay;
  width: 8px;
  /* shouldnt hardcode width, pls find way to make it dynamic, thin wasn't working for me...*/
}

::-webkit-scrollbar-track {
  display: initial;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-gray-800);
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

body,
#__next {
  box-sizing: border-box;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}
